<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ratingsflex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ratingsflex.styles.css" asp-append-version="true" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var loginLink = document.getElementById('login');
            var registerLink = document.getElementById('register');

            if (loginLink) {
                loginLink.addEventListener('click', function () {
                    var carousel = document.getElementById('featuredMoviesCarousel');
                    if (carousel) {
                        carousel.style.display = 'none';
                    }
                });
            }

            if (registerLink) {
                registerLink.addEventListener('click', function () {
                    var carousel = document.getElementById('featuredMoviesCarousel');
                    if (carousel) {
                        carousel.style.display = 'none';
                    }
                });
            }
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Movies</a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid px-0">
        @if (!(ViewData["HideCarousel"]?.Equals(true) ?? false))
        {
            <div id="featuredMoviesCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url('/images/midnight-mass.jpg');">
                        <div class="carousel-caption">
                            <h1 class="display-4">Midnight Mass <span class="rating"><span class="full-star">★★★★</span>☆</span></h1>
                            <p>The arrival of a charismatic young priest brings glorious miracles, ominous mysteries and renewed religious fervor to a dying town desperate to believe.</p>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('/images/midnightsky.jpeg');">
                        <div class="carousel-caption">
                            <h1 class="display-4">Midnight Sky <span class="rating"><span class="full-star">★★★</span><span class="half-star">★</span>☆</span></h1>
                            <p>This post-apocalyptic tale follows Augustine, a lonely scientist in the Arctic, as he races to stop Sully and her fellow astronauts from returning home to a mysterious global catastrophe.</p>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('/images/theproposal.jpg');">
                        <div class="carousel-caption">
                            <h1 class="display-4">The Proposal<span class="rating"><span class="full-star">★★★★</span><span class="half-star">★</span></span></h1>
                            <p>A pushy boss forces her young assistant to marry her in order to keep her visa status in the U.S. and avoid deportation to Canada.</p>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('/images/forrest.jpg');">
                        <div class="carousel-caption">
                            <h1 class="display-4">Forrest Gump <span class="rating"><span class="full-star">★★★★★</span></span></h1>
                            <p>Forrest Gump, American film, released in 1994, that chronicled 30 years (from the 1950s through the early 1980s) of the life of a intellectually disabled man (played by Tom Hanks) in an unlikely fable that earned critical praise, large audiences, and six Academy Awards, including best picture.</p>
                        </div>
                    </div>
                    <!-- Add more carousel items for other featured movies -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#featuredMoviesCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#featuredMoviesCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="~/images/logo.png" alt="Logo">
                <span>ratingsflex</span>
            </div>
            <ul class="footer-links">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms of Service</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
